<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  Hello EJS - Nguyen Tan
  <div>
    <img src="/images/IMG_20240329_073122.png" alt="">
  </div>
</body>

</html>